$font: Roboto, sans-serif;
$main-color: #FFFFFF;
$main-size: 14px;
$font-height: 1.5; //line-height
$font-weight: 300;
$color-bg: #EFF7ED;


/** Grid variables **/
$container-width: 1440px;
$col-padding: 15px;